<div class="container mt-5">
  <h2 class="text-center mb-5">Contact Us</h2>
  <!-- Centered heading -->
  <div class="row">
    <div class="col-md-8 contact-container">
      <form>
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div class="form-group">
          <label for="subject">Subject</label>
          <input
            type="text"
            class="form-control"
            id="subject"
            placeholder="Enter the subject"
          />
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="5"
            placeholder="Enter your message"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-md-4 contact-info contact-container mt-md-0 mt-4">
      <h2>Address:</h2>
      <span>740 Story Road</span>
      <span>Kingston, Jamaica JMD</span>

      <h2>Telephone:</h2>
      <span>(1876) 217-9394</span>

      <h2>Our Hours:</h2>
      <span>Sunday: CLOSED</span>
      <span>Mon to Thurs: 11 AM - 7:00 PM</span>
      <span>Fri to Sat: 11 AM - 9:30 PM</span>
    </div>
  </div>
</div>

<h2 class="text-center mb-4">Need Help To Find Us</h2>
<div class="map-container">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3816.497236898493!2d-76.79826388513144!3d17.971034087994368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c75c735bd711d79%3A0x5bf6a14a3fc114d6!2sKingston%2C%20Jamaica!5e0!3m2!1sen!2sus!4v1622619567593!5m2!1sen!2sus"
    width="100%"
    height="100%"
    allowfullscreen=""
    loading="lazy"
  ></iframe>
</div>
