<div class="p-5 text-center bg-image hero-section">
  <div class="d-flex justify-content-center align-items-center h-100 z-10">
    <div class="text-white">
      <h1 class="hero-text">
        <span class="b-text">About Us </span>
      </h1>
    </div>
  </div>
</div>
<div class="container">
  
  <p class="para">
     Welcome to The Sizzle Spot, your go-to destination for delectable dining
    experiences! Offering a diverse menu that caters to all tastes, The Sizzle
    Spot serves up delicious lunches, satisfying dinners, and a wide range of
    refreshing beverages
     Whether you're in the mood for a quick bite during your lunch break, a
    hearty dinner with friends and family, or simply looking to unwind with a
    drink, The Sizzle Spot provides a warm and inviting atmosphere perfect for
    any occasion
      Come savor our culinary delights and enjoy exceptional service at The Sizzle
    Spot where every meal is a celebration!
     Thank you for choosing The Sizzle Spot. We look forward to
    serving you soon!
  </p>
</div>
