<div class="container">
  <h1>Add New Lunch Item</h1>
 
  <!-- id, item_name, description, category, price, img -->
  <div class="p-4 bg-light rounded">
    <form #newLunch="ngForm" (ngSubmit)="addNewLunch(newLunch)">
      <div class="mb-3">
        <label for="item_name" class="form-label">Item Name</label>
        <input
          type="text"
          class="form-control"
          name="item_name"
          id="item_name"
          [(ngModel)]="item_name"
          required
        />
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input
          type="text"
          class="form-control"
          name="description"
          id="description"
          [(ngModel)]="description"
          required
        />
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <select
          class="form-control"
          name="category"
          id="category"
          [(ngModel)]="category"
          required
        >
          <option value="LUNCH">Lunch</option>
          <option value="DINNER">Dinner</option>
          <option value="BEVERAGE">Beverage</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          name="price"
          id="price"
          [(ngModel)]="price"
          required
        />
      </div>

      <div class="mb-3">
        <label for="img" class="form-label">Image</label>
        <input
          type="text"
          class="form-control"
          name="img"
          id="img"
          [(ngModel)]="img"
          required
        />
      </div>

      <button type="submit" class="btn btn-orange">Save Lunch Item</button>
    </form>
  </div>
</div>
 <!-- navigations -->
  <a routerLink="/menu-lunch" class="btn btn-primary mb-3"
    >Lunch Item from Database</a
  >
