<div class="p-5 text-center bg-image hero-section">
  <div class="d-flex justify-content-center align-items-center h-100 z-10">
    <div class="text-white">
      <h1 class="hero-text">
        <span class="b-text">The Sizzle Spot</span>
      </h1>
    </div>
  </div>
</div>
<div class="hero-image"></div>

<!-- Centered welcome message -->
<p class="para">
  Welcome to The Sizzle Spot, where we blend delicious food with top-notch
  service. Our chefs create memorable dishes using fresh, local ingredients.
  Whether you're into classics or global flavors, our menu has something for
  everyone. Our friendly staff is here to make your dining experience
  outstanding.
</p>

<!-- Title -->
<h1 class="container-title text-center">Our Menu</h1>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="heading heading-lunch">Lunch</h1>
      <!--3 images -->

      <h1 class="heading heading-beverage">Beverage</h1>
      <!--3 images -->

      <h1 class="heading heading-dinner">Dinner</h1>
      <!--3 images -->
    </div>
  </div>
</div>
