<!-- footer

<footer style="background-color: #eee6d3">
  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <h5 class="mb-3 text-dark">footer content</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-3 text-dark">links</h5>
        <ul class="list-unstyled mb-0">
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f">FAQ</a>
          </li>
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f">Classes</a>
          </li>
          <li class="mb-1">
            <a href="#!" style="color: #4f4f4f">Pricing</a>
          </li>
          <li>
            <a href="#!" style="color: #4f4f4f">Safety</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <h5 class="mb-1 text-dark">opening hours</h5>
        <table class="table" style="border-color: #666">
          <tbody>
            <tr>
              <td>Mon - Fri:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Sat - Sun:</td>
              <td>8am - 1am</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(189, 87, 87, 0.2)">
    &copy; The Sizzle Spot Restaurant - All Rights Reserved - Designed By Winiel
    Antonio
  </div>
 </footer>

 
<p class="copyright-text mt-3 text-center"></p>-->

<!-- Footer -->
<footer class="bg-dark text-white pt-4">
  <div class="container">
    <div class="row">
      <!-- Social Media Links -->
      <div class="col-12 text-center mb-4">
        <h5>Follow Us</h5>
        <ul class="list-unstyled d-flex justify-content-center social-icons">
          <li class="me-5">
            <a
              href="https://www.facebook.com"
              class="text-white"
              target="_blank"
            >
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="me-5">
            <a
              href="https://www.instagram.com"
              class="text-white"
              target="_blank"
            >
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="me-5">
            <a
              href="https://www.twitter.com"
              class="text-white"
              target="_blank"
            >
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="me-5">
            <a href="mailto:email@example.com" class="text-white">
              <i class="fas fa-envelope"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row mt-4">
      <div class="col text-center">
        <!-- <p class="mb-0">All Rights Reserved</p> -->
        <p class="mb-0">&copy; 2024 The Sizzle Spot Restaurant</p>
        <p class="mb-7">Designed By Winiel Antonio</p>
      </div>
    </div>
  </div>
</footer>
